<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>Lista de Tareas</ion-title>

    <ion-buttons slot="end">
      <ion-button
        (click)="anCategory()"
        [disabled]="!isCategoryEnabled">

        <ion-icon
          slot="icon-only"
          name="add-circle-outline">
        </ion-icon>

      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">

  <!-- FILTRO DE CATEGORÍAS -->
  <ion-item
    *ngIf="isCategoryEnabled && categories.length > 0"
    class="ion-margin-bottom">

    <ion-label>Filtrar por:</ion-label>

    <ion-select
      [(ngModel)]="filterCategoryId"
      interface="action-sheet">

      <ion-select-option value="all">
        Todas las tareas
      </ion-select-option>

      <ion-select-option
        *ngFor="let cat of categories"
        [value]="cat.id">

        {{ cat.name }}

      </ion-select-option>

    </ion-select>

  </ion-item>


  <!-- NUEVA TAREA -->
  <ion-item class="ion-margin-bottom">

    <ion-input
      [(ngModel)]="newTaskTitle"
      placeholder="¿Qué necesitas hacer?"
      (keyup.enter)="anadirTarea()">
    </ion-input>

    <ion-button
      slot="end"
      (click)="anadirTarea()">

      <ion-icon
        slot="icon-only"
        name="add">
      </ion-icon>

    </ion-button>

  </ion-item>


  <!-- CATEGORÍA PARA LA NUEVA TAREA -->
  <ion-item
    *ngIf="isCategoryEnabled && categories.length > 0"
    class="ion-margin-bottom">

    <ion-label>Categoría</ion-label>

    <ion-select
      [(ngModel)]="newTaskCategoryId"
      interface="action-sheet">

      <ion-select-option value="">
        Sin categoría
      </ion-select-option>

      <ion-select-option
        *ngFor="let cat of categories"
        [value]="cat.id">

        {{ cat.name }}

      </ion-select-option>

    </ion-select>

  </ion-item>


  <!-- LISTA DE TAREAS -->
  <ion-list>

    <ion-item-sliding
      *ngFor="let task of filteredTasks">

      <ion-item>

        <ion-checkbox
          slot="start"
          [checked]="task.completed"
          (ionChange)="toggleComplete(task)">
        </ion-checkbox>

        <ion-label>

          <h2
            [style.text-decoration]="task.completed ? 'line-through' : 'none'">

            {{ task.title }}

          </h2>

          <p *ngIf="isCategoryEnabled && task.categoryId">

            {{ obtenerNombreCategoria(task.categoryId) }}

          </p>

        </ion-label>
         <ion-button
    slot="end"
    fill="clear"
    class="delete-button"
    (click)="eliminarTarea(task.id)">

    <ion-icon
      slot="icon-only"
      name="trash">
    </ion-icon>

  </ion-button>

      </ion-item>
      


    </ion-item-sliding>

  </ion-list>


  <!-- MENSAJE CUANDO NO HAY TAREAS -->
  <div
    *ngIf="filteredTasks.length === 0"
    class="empty-state">

    <p>No tienes tareas aquí. ¡Buen trabajo!</p>

  </div>

</ion-content>