<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      lista de que hacer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
 
  <ion-item lines="none" class="ion-margin-bottom" style="border: 1px solid #ddd; border-radius: 8px;">
    <ion-input
      [(ngModel)]="newTaskTitle"
      (keyup.enter)="addTask()"
      placeholder="¿Qué necesitas hacer?"
      clearInput>
    </ion-input>
    <ion-button slot="end" fill="clear" (click)="addTask()" [disabled]="!newTaskTitle.trim()">
      Agregar
    </ion-button>
  </ion-item>


  <ion-list>
    <ion-item-sliding *ngFor="let task of tasks">
      
     
      <ion-item>
        <ion-checkbox
          slot="start"
          [checked]="task.completed"
          (ionChange)="toggleComplete(task)">
        </ion-checkbox>
        <ion-label [class.completed-text]="task.completed">
          {{ task.title }}
        </ion-label>
      </ion-item>

    
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteTask(task.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
  

  <div *ngIf="tasks.length === 0" class="ion-text-center ion-margin-top" style="color: gray;">
    <p>No tienes tareas pendientes. ¡Buen trabajo!</p>
  </div>

</ion-content>
